@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --paragraph-font-size: 18px;
    --font-family-style: 'Montserrat', sans-serif;
}

body {
    background-color: var(--almost-white);
    font-family: var(--font-family-style);
    color: var(--medium-gray);
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
}

.navbar {
    flex-grow: 3;
    background-color: var(--almost-white);
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.toggle {
    background: none;
    border: none;
    display: none;
}

.close-menu {
    background: none;
    border: none;
    display: none;
}

.navbar-buttons,
.navbar-menu {
    background-color: var(--almost-white);
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar-menu li {
    margin: 5px;
    padding: 0px;
    font-size: 12px;
    cursor: pointer;
}

.navbar-buttons li{
    background-color: grey;
    margin: 0 10px;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
}

.btn-registrer {
    border-radius: 10px;
    border: black solid 1px;
}

.dropdown-container ul{
    background-color: white;
    border-radius: 10px;
    position: fixed;
    overflow: hidden;
    padding: 0;
    max-height: 0px;
}

.dropdown-container ul.show{
    max-height: 400px;
    transition: max-height 1s;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width:768px) {

    .header {
        height: 60px;
        background-color: var(--almost-white);
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        background-color: white;
        flex-direction: column;
        justify-content: start;
        position:fixed;
        top: 0;
        overflow-y: auto;
        width: 70%;
        margin: 0;
        height: 100%;

        left: 100%;
        transition: left 0.3s;
    }

    .navbar-menu,
    .navbar-buttons {
        margin: 25px;
    }

    .close-menu {
        margin: 25px 25px 10px 25px;
    }
    
    .navbar-menu {
        flex-direction: column;
        align-self: flex-start;
        align-items: flex-start;
        height: 300px;
    }

    .navbar-buttons {
        display: block;
    }
    .navbar-buttons li {
        text-align: center;
        margin: 0;
        height: 20px;
    }

    .close-menu,
    .toggle {
        display: block;
        cursor: pointer;
    }

    .btn-registrer {
        text-align: center;
    }

    .close-menu {
        align-self: flex-end;
    }

    .navbar-menu-active {
        left:30%;
    }

    .dropdown-container ul{
        position: static;
    }
}


