@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --paragraph-font-size: 18px;
    --font-family-style: 'Montserrat', sans-serif;
}

body {
    background-color: var(--almost-white);
    font-family: var(--font-family-style);
    color: var(--medium-gray);
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    height: 10vh;
}

main {
    height: 75vh;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    margin: 2.5vh 2.5vw 2.5vh 7vw;
}

footer {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
}

main section{
    width: 50%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container h1, button {
    margin: 0px 35px;
}

.text-container .clients {
    margin: 0px 6vw 0px 35px;
}

.clients {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.clients img {
    height: fit-content;
}


.text-container p {
    text-align: justify;
    margin: 0px 180px 0px 40px ;
    font-size: var(--paragraph-font-size);
}

main section img{
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 95px;
    color: black;
    font-weight: 700;
}

.img-logo {
    padding: 0px 30px;
}

.img-desktop {
    display: block;
    margin: auto;
}

.img-mobile {
    display: none;
    margin: auto;
}

.text-container button {
    max-width: 150px;
}

.navbar {
    flex-grow: 3;
    background-color: var(--almost-white);
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.toggle {
    background: none;
    border: none;
    display: none;
}

.close-menu {
    background: none;
    border: none;
    display: none;
}

.navbar-buttons,
.navbar-menu {
    background-color: none; /*var(--almost-white);*/
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar-menu li {
    margin: 5px 20px;
    padding: 0px;
    font-size: 12px;
    cursor: pointer;
}

.navbar-buttons {
    margin-right: 30px;
}

.navbar-buttons li{
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}

.btn-registrer {
    border-radius: 10px;
    border: black solid 1px;
}

.dropdown-container ul{
    background-color: white;
    border-radius: 10px;
    position: fixed;
    overflow: hidden;
    padding: 0;
    max-height: 0px;
    display: none;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-container ul li{
    margin: 15px 20px;
}

.dropdown-container ul li img {
    margin-right: 10px;
}


.dropdown-container ul.show{
    display: block;
    max-height: 500px;
    transition: max-height 1s;
}

.dropdown-container.first-list ul {
    top: 65px;
    left: 100px;
}

.dropdown-container.second-list ul {
    top: 65px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.text-container button {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.text-container button:hover{
    cursor: pointer;
}

.text-container button:active{
    background-color: white;
    color: black;
}

.background-menu-mobile {
    background-color: black;
    opacity: 0.6;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

@media (max-width:768px) {

    .header {
        height: 60px;
        background-color: var(--almost-white);
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        background-color: white;
        flex-direction: column;
        justify-content: start;
        position:fixed;
        top: 0;
        overflow-y: auto;
        width: 70%;
        margin: 0;
        height: 100%;/*calc(100% - 60px); */
        z-index: 500;

        left: 100%;
        transition: left 0.3s;
    }

    .navbar-active {
        left:30%;
    }

    .background-menu-mobile.navbar-active {
        left: 0;
        display: block;
    }


    .navbar-menu,
    .navbar-buttons {
        margin: 25px;
    }

    .close-menu {
        margin: 25px 25px 10px 25px;
    }
    
    .navbar-menu {
        flex-direction: column;
        align-self: flex-start;
        align-items: flex-start;
        height: 300px;
    }

    .navbar-buttons {
        display: block;
    }
    .navbar-buttons li {
        text-align: center;
        margin: 0;
        height: 20px;
    }

    .img-desktop {
        display: none;
    }
    
    .img-mobile {
        display: block;
        max-width:100%;
        max-height:100%;
    }

    main {
        height: fit-content;
        flex-flow: column;
        margin: 0;
    }

    .img-container {
        width: auto;
    }

    .text-container {
        width: 100%;
    }

    .text-container h1{
        margin: 20px 10px 10px 10px;
        padding: 0;
        font-size: 30px;
        text-align: center;
    }

    .text-container p,button{
        margin: 10px;
        padding: 0;
        text-align: center;
    }

    .text-container button {
        align-self: center;
    }

    .text-container .clients{
        margin: 10px;
        padding: 0;
    }
    
    .close-menu,
    .toggle {
        display: block;
        cursor: pointer;
    }

    .btn-registrer {
        text-align: center;
    }

    .close-menu {
        align-self: flex-end;
    }

    .dropdown-container ul{
        position: static;
        box-shadow: none;
    }

    footer {
        height: 5vh;
        line-height: 5vh;
        margin: 0;
        text-align: center;
    }
}
